<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "https://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <action id="com.shazid.LinuxHotspotManager.manage">
    <description>Manage Linux Hotspot Manager networking</description>
    <message>Authentication is required to change hotspot networking.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.shazid.LinuxHotspotManager.network">
    <description>Manage Linux Hotspot Manager networking</description>
    <message>Authentication is required to manage hotspot networking.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  <action id="org.shazid.LinuxHotspotManager.clients">
    <description>Manage Linux Hotspot Manager clients</description>
    <message>Authentication is required to manage hotspot clients.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
